<% @playlist.each do |playlist| %>
 
  Playlist: <%= playlist.playlist_name%>
  <br>
  Genre: <%= playlist.genre%>
  <br>
  Artist: <%= playlist.artist%>
  <br>
  Song: <%= playlist.song%>
  <br>
  <br>
<%end%>

<h3><a href="/playlists/new">Create a new playlist!</a></h1>

<h3> <a href="/users/logout">Logout</a></h1>