<div>
 <p style = "color:red">
 <% if flash.has?(:message) %>
  <%= flash[:message] %>
 <% end %>
 </p>
</div>

<div style = "font-family: Lobster, cursive">
 <h1>Create a new playlist here!</h1>
 <br>
 <form action='/playlists/new' method="POST">
   Playlist Name: <input type=text name="playlist_name" >
   <br>
   <br>
   Genre: <input type=text name="genre" >
   <br>
   <br>
   Artist: <input type=text name="artist" >
   <br>
   <br>
   Song: <input type=text name="song" >
   <br>
   <br>
   <input type=submit>
 </form>
</div>

