<div style = "font-family: Lobster, cursive">
<h1>Create a new playlist here!</h1>

<form action='/playlists/new' method="POST">
  Playlist Name: <input type=text name="playlist_name">
  Genre: <input type=text name="genre">
  Artist: <input type=text name="artist">
  Song: <input type=text name="song">
  <input type=submit>
</form>
</div>