<header>
<link rel="stylesheet" href="/stylesheets/main.css" />
</header

<div class="container">
  
  
  <h1>Welcome to MusicMojo</h1>
  <a href="/users/signup"> Signup! </a>
  <a href="/users/login"> Login </a>



</div>